</div>
<footer>
  <div class="container">
    <div>
      <span>网站基于Nodejs开发 版权所有@2012-2014 zhaoyuan|友情链接</span>
    </div>
    <div>
      <a href="#">wap版</a>
      <a href="#">关于我的日记</a>
      <a href="#">提交bug</a>
      <a href="#">今日访问量</a>
      <a href="#">当前在线</a>
    </div>
  </div>
</footer>
</body>
</html>
