<!--首页音乐乐园-->
<audio src="/music/1.oga"></audio>
<audio src="/music/2.oga"></audio>
<audio src="/music/3.oga"></audio>
<audio src="/music/4.oga"></audio>
<audio src="/music/5.oga"></audio>
<audio src="/music/6.oga"></audio>
<audio src="/music/7.oga"></audio>
<audio src="/music/8.oga"></audio>
<audio src="/music/9.oga"></audio>
<main class="music">
    <div onmousedown="play(0)"></div>
    <div onmousedown="play(1)"></div>
    <div onmousedown="play(2)"></div>
    <div onmousedown="play(3)"></div>
    <div onmousedown="play(4)"></div>
    <div onmousedown="play(5)"></div>
    <div onmousedown="play(6)"></div>
    <div onmousedown="play(7)"></div>
    <div onmousedown="play(8)"></div>
</main>
<script src="/js/music.js"></script>