<!--返回顶部动画特效-->
<ul class="scroll">
    <li class="top">
        <div>
            <a class="to_top" href="javascript:;">返回顶部</a>
        </div>
    </li>
    <li class="bottom">
        <div>
            <a class="to_bottom" href="javascript:;">转到底部</a>
        </div>
    </li>
</ul>
<script src="js/toup.js"></script>